html, body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

    background-color: rgba(220, 218, 240, 0.842);
}

.container {
  margin: 80px auto 0 auto;
  max-width: 1200px;
}

.card {
  margin-top: 10px;
}

.loginForm{
  background-color: rgb(236, 233, 247);
  border: 10px;
  border-radius: 15%;
  text-align: center;
}

.formTextField{
  margin: 20px, auto, 20px, auto;
  
}